In [1]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.0.3'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:3 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
# https://github.com/scikit-learn-contrib/imbalanced-learn/issues/872

!pip3 install scikit-learn==1.0 -U

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn==1.0 in /usr/local/lib/python3.7/dist-packages (1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0) (1.21.6)

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [5]:
# Import dependencies
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

In [6]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [7]:
# Load the data
url ="/content/LoanStats_2019Q1.csv"

# file_path = Path(url)
df = pd.read_csv(url, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [8]:
# Create our features
X = pd.get_dummies(df, columns=["home_ownership", "verification_status", "issue_d", "pymnt_plan", "initial_list_status", "next_pymnt_d", "application_type", "hardship_flag", "debt_settlement_flag"]).drop(columns="loan_status", axis=1)

# Create our target
y = df["loan_status"]
y

0        low_risk
1        low_risk
2        low_risk
3        low_risk
4        low_risk
           ...
68812    low_risk
68813    low_risk
68814    low_risk
68815    low_risk
68816    low_risk
Name: loan_status, Length: 68817, dtype: object

In [9]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [10]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [11]:
# Create training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    random_state=1,
                                                    stratify=y)

In [12]:
# Resample the training data with the BalancedRandomForestClassifier
# Create a RandomForest Classifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

In [13]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test)
predictions

array(['high_risk', 'low_risk', 'low_risk', ..., 'low_risk', 'low_risk',
       'low_risk'], dtype=object)

In [14]:
# Calculate the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)
acc_score

0.7877672625306695

In [15]:
# Display the confusion matrix
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

In [16]:
# Create a DataFrame from the confusion matrix
cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
cm_df

          Predicted 0  Predicted 1
Actual 0           58           29
Actual 1         1560        15558

In [25]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.67      0.91      0.07      0.78      0.59        87
   low_risk       1.00      0.91      0.67      0.95      0.78      0.62     17118

avg / total       0.99      0.91      0.67      0.95      0.78      0.62     17205

In [18]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.07376667607601396, 'total_rec_prncp'),
 (0.06390324452717588, 'total_rec_int'),
 (0.06073336071656837, 'total_pymnt_inv'),
 (0.05811195697921674, 'total_pymnt'),
 (0.04951778391272079, 'last_pymnt_amnt'),
 (0.02458051789018817, 'int_rate'),
 (0.020398879691407974, 'out_prncp'),
 (0.018625883307901298, 'dti'),
 (0.018378884967316288, 'max_bal_bc'),
 (0.017480030880564042, 'issue_d_Jan-2019'),
 (0.01698703048268034, 'installment'),
 (0.01661321625916749, 'annual_inc'),
 (0.01623198470200134, 'bc_util'),
 (0.015821923028819504, 'mths_since_recent_inq'),
 (0.015385686591272854, 'total_bc_limit'),
 (0.015337070167127763, 'out_prncp_inv'),
 (0.01506649550412446, 'avg_cur_bal'),
 (0.014926455495755147, 'issue_d_Mar-2019'),
 (0.014924489307566175, 'revol_bal'),
 (0.014583210727445232, 'mo_sin_old_rev_tl_op'),
 (0.01428231366275729, 'total_bal_ex_mort'),
 (0.014238473969302518, 'tot_cur_bal'),
 (0.014067369111282934, 'mo_sin_old_il_acct'),
 (0.01351439379612201, 'total_bal_il'),
 (0.013343855077273033, 'bc_open_to_buy'),
 (0.013138998568932102, 'il_util'),
 (0.013106005248709657, 'tot_hi_cred_lim'),
 (0.013009300843392654, 'all_util'),
 (0.012104219411815444, 'total_il_high_credit_limit'),
 (0.011927748948209041, 'num_rev_accts'),
 (0.011194718062040365, 'total_rev_hi_lim'),
 (0.01072808547266412, 'mths_since_recent_bc'),
 (0.010485766778776592, 'pct_tl_nvr_dlq'),
 (0.010480039757813501, 'total_acc'),
 (0.010433852907121713, 'mths_since_rcnt_il'),
 (0.010171477424921242, 'mo_sin_rcnt_rev_tl_op'),
 (0.00990081847673844, 'num_rev_tl_bal_gt_0'),
 (0.00982912014219909, 'loan_amnt'),
 (0.009709211384642156, 'inq_last_12m'),
 (0.00939406635676521, 'num_bc_tl'),
 (0.009390960836832822, 'num_op_rev_tl'),
 (0.008883434647669785, 'mo_sin_rcnt_tl'),
 (0.008287412625195438, 'num_actv_bc_tl'),
 (0.00794880573688952, 'total_cu_tl'),
 (0.007944596002325902, 'percent_bc_gt_75'),
 (0.007841727903546316, 'num_sats'),
 (0.007813875400824535, 'num_actv_rev_tl'),
 (0.007760323250042998, 'open_acc'),
 (0.007420667106687749, 'acc_open_past_24mths'),
 (0.007404967411706728, 'inq_fi'),
 (0.007339507170175945, 'num_il_tl'),
 (0.006876404000725424, 'open_il_24m'),
 (0.00678542812487817, 'num_bc_sats'),
 (0.006660043732852357, 'open_act_il'),
 (0.006599809671624734, 'open_rv_24m'),
 (0.006393774120528892, 'mort_acc'),
 (0.006391381020548387, 'total_rec_late_fee'),
 (0.006065825838862652, 'num_tl_op_past_12m'),
 (0.006004776142662084, 'open_acc_6m'),
 (0.005920335354841418, 'next_pymnt_d_Apr-2019'),
 (0.005413306654546768, 'open_rv_12m'),
 (0.005248840731650208, 'open_il_12m'),
 (0.00487120814476765, 'issue_d_Feb-2019'),
 (0.004802823221798599, 'next_pymnt_d_May-2019'),
 (0.0047562588132075015, 'inq_last_6mths'),
 (0.0045238834578884635, 'delinq_2yrs'),
 (0.0039029173953907185, 'num_accts_ever_120_pd'),
 (0.003789677267237295, 'tot_coll_amt'),
 (0.0020853638216694215, 'home_ownership_OWN'),
 (0.0020060097354201176, 'home_ownership_MORTGAGE'),
 (0.001984067551288744, 'verification_status_Source Verified'),
 (0.0018789153640443002, 'verification_status_Verified'),
 (0.0018544555674736187, 'verification_status_Not Verified'),
 (0.0016995259802440514, 'home_ownership_RENT'),
 (0.001520907850775936, 'pub_rec_bankruptcies'),
 (0.0014185754855487824, 'pub_rec'),
 (0.0013879548937552864, 'initial_list_status_f'),
 (0.001239058844214324, 'application_type_Individual'),
 (0.0011046122443753368, 'num_tl_90g_dpd_24m'),
 (0.000805030988421211, 'initial_list_status_w'),
 (0.000710297252940571, 'application_type_Joint App'),
 (0.0006949062181389056, 'collections_12_mths_ex_med'),
 (0.00013272979926763346, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

In [19]:
X_train.describe

<bound method NDFrame.describe of        loan_amnt  int_rate  installment  annual_inc    dti  delinq_2yrs  \
39692    10000.0    0.1131       328.86     49000.0  24.54          0.0
37830    21000.0    0.1072       684.74     57400.0  34.52          0.0
64531    35000.0    0.0881      1109.90    180000.0   3.01          0.0
28730    20000.0    0.0819       628.49     80000.0  26.51          0.0
35102    12600.0    0.1356       427.96     71000.0  22.38          1.0
...          ...       ...          ...         ...    ...          ...
18872    35000.0    0.0881      1109.90    400000.0  13.79          0.0
6415     16800.0    0.0881       532.76     31000.0  20.48          0.0
12632    25000.0    0.1102       818.71     90000.0  15.27          1.0
24022    14000.0    0.1072       456.49    180000.0  12.35          2.0
44756    15000.0    0.0702       463.30     89000.0  13.30          0.0

       inq_last_6mths  open_acc  pub_rec  revol_bal  ...  issue_d_Mar-2019  \
39692             0.0      10.0      1.0     6580.0  ...                 0
37830             0.0      12.0      0.0    18688.0  ...                 0
64531             2.0       7.0      0.0      836.0  ...                 0
28730             0.0      15.0      0.0     2615.0  ...                 0
35102             2.0       7.0      0.0     9073.0  ...                 0
...               ...       ...      ...        ...  ...               ...
18872             1.0      17.0      1.0     7810.0  ...                 0
6415              0.0       3.0      0.0     1867.0  ...                 1
12632             0.0      18.0      0.0    26106.0  ...                 0
24022             0.0      10.0      0.0     3601.0  ...                 0
44756             0.0       7.0      0.0     2027.0  ...                 0

       pymnt_plan_n  initial_list_status_f  initial_list_status_w  \
39692             1                      0                      1
37830             1                      0                      1
64531             1                      0                      1
28730             1                      0                      1
35102             1                      0                      1
...             ...                    ...                    ...
18872             1                      0                      1
6415              1                      0                      1
12632             1                      0                      1
24022             1                      0                      1
44756             1                      0                      1

       next_pymnt_d_Apr-2019  next_pymnt_d_May-2019  \
39692                      0                      1
37830                      0                      1
64531                      0                      1
28730                      0                      1
35102                      0                      1
...                      ...                    ...
18872                      1                      0
6415                       0                      1
12632                      1                      0
24022                      0                      1
44756                      1                      0

       application_type_Individual  application_type_Joint App  \
39692                            1                           0
37830                            1                           0
64531                            1                           0
28730                            1                           0
35102                            1                           0
...                            ...                         ...
18872                            1                           0
6415                             1                           0
12632                            1                           0
24022                            1                           0
44756                            1                           0

       hardship_flag_N  debt_settlement_flag_N
39692                1                       1
37830                1                       1
64531                1                       1
28730                1                       1
35102                1                       1
...                ...                     ...
18872                1                       1
6415                 1                       1
12632                1                       1
24022                1                       1
44756                1                       1

[51612 rows x 95 columns]>

In [20]:
y_train.describe

<bound method NDFrame.describe of 39692    low_risk
37830    low_risk
64531    low_risk
28730    low_risk
35102    low_risk
           ...
18872    low_risk
6415     low_risk
12632    low_risk
24022    low_risk
44756    low_risk
Name: loan_status, Length: 51612, dtype: object>

In [21]:
# Train the EasyEnsembleClassifier
ee_model = EasyEnsembleClassifier(n_estimators=100, random_state=1)

# Fitting the model
ee_model = ee_model.fit(X_train, y_train)

In [22]:
# Making predictions using the testing data
ee_predictions = ee_model.predict(X_test)
balanced_accuracy_score(y_test,ee_predictions)

0.925427358175101

In [23]:
# Display the confusion matrix
# Calculating the confusion matrix
ee_cm = confusion_matrix(y_test, ee_predictions)

# Create a DataFrame from the confusion matrix
ee_df = pd.DataFrame(ee_cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
ee_df

          Predicted 0  Predicted 1
Actual 0           79            8
Actual 1          979        16139

In [26]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, ee_predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.93      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.93      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.93      0.86     17205